
body {
  background-color: rgb(39, 39, 39);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


* {
  margin: 0;
  padding: 0;
}

/* html {
  scroll-behavior: smooth;
} */

/* INTRO */

#intro {
  color: white;
  margin: 0 auto;
  padding: 10% 5%;
  text-align: center;
  background: url("images/fond1.jpg");
  background-size: cover;
}

#intro h1 {
  color: rgb(189, 75, 75);
  font-weight: bolder;
  font-size: 4rem;
  margin: 5% 300px;
  padding: 10px 2px;
  border-radius: 10%;
}

#top {
  display: flex; 
  width: 35%;
  margin: auto;
  justify-content: space-between;
}

#intro h2 {
  font-family: Impact, Haettenschweiler, 
  'Arial Narrow Bold', sans-serif;
  font-size: 2.4rem;
  margin-top: auto;
  margin-bottom: auto;
}

#logo {
  width: 100px;
  height: 100px;
}

#intro h3 {
  font-weight: bolder;
}

#intro p {
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: cursive;
  margin: 10% 10%;
  -webkit-text-stroke: 0px black;
}

.media {
  width: 80px;
  height: 80px;
  margin: 0 20px;
  box-sizing: border-box;
}

.media:hover {
  border-radius: 50%;
  border: 3px solid white;
}

h1 {
  font-family: "Impact";
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

/* BAS DE PAGE  */

footer {
  /* position: absolute; */
  padding: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: url("images/fond1.jpg");
}

footer h2 {
  margin: 4% auto;
  font-size: 2rem;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer #contact {
  border: 4px solid white; 
  padding: 3% 4%; width: 50%; 
  margin: 0 auto; 
  border-radius: 1%;
}

#contact h3 {
  margin: 5% auto; 
  font-size: 2rem;
}

#contact button {
  color: white; 
  font-weight: bold; 
  font-size: 1.5rem; 
  padding-bottom: 18px;
  border: 2px solid black;
}

footer img {
  width: 50px;
}

footer #bmac {
  width: 200px;
  height: 60px;
}

footer #sayhello:hover {
  color: rgb(255, 255, 255);
  background-color: #eb455f;
  border: black;
}

.button {
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #6d67e4;
  color: black;
}

footer p {
  font-size: 1.2rem;
  margin: 4% auto;
}

/* Responsive */

@media screen and (max-width: 2200px) {
 
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 992px) {
  main {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    margin: auto;
  }
  #top {
    display: flex;
    flex-direction: column;
  }
  #contact {
    width: 90%;
    padding: 5%;
  }
}


